.procesori-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .procesor-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 250px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .procesor-title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .procesor-card:hover {
    transform: scale(1.05);
  }
  
  .procesor-image img {
    max-width: 100%;
    height: auto;
  }
  
  .procesor-details {
    padding: 10px;
  }
  
  .procesor-details h2 {
    margin-top: 0;
  }
  
  .procesor-details p {
    margin: 5px 0;
  }

  .sort-container{
    text-align: right;
  }
  
  label[for="sort"] {
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  label[for="sort"]:hover {
    color: #007bff; /* Promenite boju prema vašim željama */
  }
  
  /* Stilizujemo select za sortiranje */
  #sort {
    padding: 5px;
    font-size: 14px;
  }


