<div class="futer">
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <img class="navbar-brand" src="assets/logo.png" height="60px" width="120px">
                </a>
                <p>Sed ipsum clita tempor ipsum ipsum amet sit ipsum lorem amet labore rebum lorem ipsum dolor. No sed vero lorem dolor dolor</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Naše stranice</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" routerLink=""><i class="fa fa-angle-right mr-2"></i>Početna</a>
                    <a class="text-white-50 mb-2" routerLink="/oNama"><i class="fa fa-angle-right mr-2"></i>O nama</a>
                    <a class="text-white-50 mb-2" routerLink="/destinacije"><i class="fa fa-angle-right mr-2"></i>Proizvodi</a>
                    <a class="text-white-50 mb-2" routerLink="/kontakt"><i class="fa fa-angle-right mr-2"></i>Kontakt</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Korisni linkovi</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="https://www.potrosac.info/za-potrosace/saveti-potorsac-info/1547-zimsko-sezonsko-snizenje-osnovna-prava-i-rokovi-prilikom-kupovine"><i class="fa fa-angle-right mr-2"></i>Povracaj proizvoda</a>
                    <a class="text-white-50 mb-2" href="https://www.mfa.gov.rs/gradjani/putovanje-u-inostranstvo/covid-19-uslovi-za-putovanje"><i class="fa fa-angle-right mr-2"></i>Covid pravila</a>
                    <a class="text-white-50 mb-2" href="https://www.potrosac.info/za-potrosace/saveti-potorsac-info/1547-zimsko-sezonsko-snizenje-osnovna-prava-i-rokovi-prilikom-kupovine"><i class="fa fa-angle-right mr-2"></i>Povraćaj novca</a>
                    <a class="text-white-50 mb-2" href="https://www.zastitapotrosaca.gov.rs/"><i class="fa fa-angle-right mr-2"></i>Zaštita potrosača</a>
                    <a class="text-white-50 mb-2" href="https://intelligence.rs/koji-su-najbolji-evropski-brendovi/"><i class="fa fa-angle-right mr-2"></i>Poznate marke</a>
                    <a class="text-white-50 mb-2" href="http://www.racunari.net/konfigurator/index.php"><i class="fa fa-angle-right mr-2"></i>Sastavi svoju konfiguraciju</a>
                    <a class="text-white-50" href="https://www.it-klinika.rs/"><i class="fa fa-angle-right mr-2"></i>Blog</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Kontaktiraj nas</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Tadeuša Košćuška 69, Beograd, Srbija</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+381 65/123-45-67</p>
                <p><i class="fa fa-envelope mr-2"></i>info@itshop.com</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Najnoviji proizvodi</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3">Pretplati se</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; <a href="#">Domain</a>. Sva prava zadržana.
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">Designed by <a href="https://htmlcodex.com">acozivac@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
    </div>
