<app-navigacija-admin></app-navigacija-admin>

<section class="center">
    <h1> RAD SA BAZOM PODATAKA</h1>
    <button (click)="dodajKorisnika()" class="btn btn-success" data-bs-toggle="modal"
        data-bs-target="#dodajKorisnikaModal" id="dugme">Dodaj korisnika</button>
    <table id="tabela">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Rola</th>
            <th scope="col">Opcije</th>
        </tr>
        <tr *ngFor="let row of korisnikData">
            <td>{{row.id}}</td>
            <td>{{row.username}}</td>
            <td>{{row.password}}</td>
            <td>{{row.rola}}</td>
            <td>
                <button class="btn btn-primary" (click)="onEdit(row)" data-bs-toggle="modal"
                    data-bs-target="#izmeniKorisnikaModal">Izmeni</button>
                <button class="btn btn-danger" (click)="obrisiKorisnika(row)">Obrisi</button>
            </td>
        </tr>
    </table>
</section>

<div class="modal fade" id="dodajKorisnikaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Forma za dodavanje korisnika</h1>
                <button type="button" id="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" #newusername placeholder="Vas username"
                        formControlName="username" required>
                        <div *ngIf="formValue.get('username')?.hasError('required') && formValue.get('username')?.touched">
                            Username is required.
                          </div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" #newpassword placeholder="Vas password"
                        formControlName="password" required>
                        <div *ngIf="formValue.get('password')?.hasError('required') && formValue.get('password')?.touched">
                            Password is required.
                          </div>
                        <label for="rola">Rola</label>
                        <select name="rola" id="rola" #newrola formControlName="rola">
                          <option value="admin">Admin</option>
                          <option value="user">User</option>
                        </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="showAdd" (click)="postKorisnikDetails()"
                    class="btn btn-primary">Dodaj</button>
                <button type="button" *ngIf="showUpdate" (click)="updateKorisnikDetails()"
                    class="btn btn-primary">Izmeni</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="izmeniKorisnikaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Forma za izmenu korisnika</h1>
                <button type="button" id="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" #newusername placeholder="Vas username"
                        formControlName="username" readonly>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" #newpassword placeholder="Vas password"
                        formControlName="password" readonly>
                        <label for="rola">Rola</label>
                        <select name="rola" id="rola" #newrola formControlName="rola">
                          <option value="admin">Admin</option>
                          <option value="user">User</option>
                        </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="showAdd" (click)="postKorisnikDetails()"
                    class="btn btn-primary">Dodaj</button>
                <button type="button" *ngIf="showUpdate" (click)="updateKorisnikDetails()"
                    class="btn btn-primary">Izmeni</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer-admin></app-footer-admin>
</footer>